logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target
project/project/target
.history
.cache
.lib/
public/
.g8